<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Servicios</title>
    <link href="/css/detalle-servicios.css" rel="stylesheet">
  </head>
  <body>
    <h2>Nuestros Servicios</h2>
    <section>
      <article>
        Servicio 1
        <p>El Servicio 1 consiste en ...</p>
      </article>
      <article>
        Servicio 2
        <p>El Servicio 2 consiste en ...</p>
      </article>
      <article>
        Servicio 3
        <p>El Servicio 3 consiste en ...</p>
      </article>
    </section>
  </body>
</html>
