<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO ARQUITECTURA</title>
</head>

<body>
    <header>
        <nav>
            <div>
                <div>
                    <h4><a href="/">HOME</h4>
                </div>
                <div>
                    <h4><a href="/proyectos/menu-personalizados">PROYECTOS PERSONALIZADOS</a></h4>
                </div>
                <div>
                    <h4><a href="/servicios/detalle-servicios">SERVICIOS</a></h4>
                </div>
            </div>
            <!-- <div>
                    <a href="/">
                        <img src="/img/render1.jpg" alt="Logo">
                    </a>
                </div> -->
        </nav>
    </header>

    <main>
        <div>
            <h2>Aca iria un carrusel</h2>
        </div>

        <div>
            <h4>Una imagen para el "Quienes somos?"</h4>
            <h2>Nosotros</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam officia dicta deserunt rerum ex cumque
                recusandae, fugit, sapiente ipsa laboriosam harum incidunt, commodi delectus explicabo in beatae
                officiis quibusdam debitis.</p>
        </div>

        <div>
            <div>
                <h3>Servicios</h3>
                <h5>Una imagen clickeable de fondo</h5>
            </div>
            <div>
                <h3>Proyectos Personalizados</h3>
                <h5>Una imagen clickeable de fondo</h5>
            </div>
        </div>

        <div>
            <h2>Nuestros Proyectos (titulo)</h2>
            <h4>Aca iria otro carrusel con los Proyectos ya realizados</h4>
        </div>
    </main>

    <footer>


        
    </footer>

</body>

</html>